 body{
  background-color: gray;
}


#header{
  background-color: black;
}

#search{
  margin: auto;
  margin-top: 10px;
  height: 250px;
  width: 800px;
  text-align: center;
}


#content{
  margin: auto;
  margin-top: 20px;
  height: 430px;
  width: 800px;
  text-align: center;
  border: 2px solid white;
}

#topcontent{
  height: 50px;
  background-color: black;
  color: white;
  padding-top: 10px;;
  border: 1px solid white;
}

#leftcontent{
  margin: auto;
  height: 250px;
  width: 302px;
  border: 2px solid white;
  float: left;
  color: white;
  background-color: black;
}

#tempIcon{
  height: 125px;
  color: aquamarine;
  padding-top: 10px;
}




#rightcontent{
  margin: auto;
  height: 250px;
  width: 430px;
  border: 2px solid white;
  float: right;
  color: white;
  background-color: black;
}

#foot{
  text-align: center;
  padding-top: 10px;
  background-color: black;
  min-height: 50px;
  color: white;
} 

.icon{
  border: 5px solid white;
  border-radius: 10px;
  border-color: white;
}